<?php
class Conexion {
    protected $db_host = "localhost";
    protected $db_user = "TU_USUARIO";
    protected $db_pass = "TU_CONTRASEÑA";
    protected $db_name = "TU_BASE_DATOS";
    public $conn;

    function __construct() {
        $this->conn = new mysqli($this->db_host, $this->db_user, $this->db_pass, $this->db_name);

        if($this->conn->error) {
            die("Ha ocurrido un error al establecer la conexion: error($this->conn->errno) $this->conn->error" );
        }

        $this->conn->set_charset("utf8");
    }
}
?>
